/* 1️⃣ Descendant Combinator */

.container p{
color:blue;
}

/* 2️⃣ Child Combinator */

.container > p{
font-weight:bold;
}

/* 3️⃣ Adjacent Sibling Combinator */

h2 + p{
color:red;
}

/* 4️⃣ General Sibling Combinator */

h2 ~ p{
background-color:lightgray;
}