/* 1️⃣ Text Color */

.text-color{
color:blue;
}


/* 2️⃣ Text Opacity */

.text-opacity{
color:red;
opacity:0.5;
}


/* 3️⃣ Text Alignment */

.align-left{
text-align:left;
}

.align-center{
text-align:center;
}

.align-right{
text-align:right;
}


/* 4️⃣ Text Decoration */

.underline{
text-decoration:underline;
}

.line-through{
text-decoration:line-through;
}


/* 5️⃣ Text Transformation */

.uppercase{
text-transform:uppercase;
}

.lowercase{
text-transform:lowercase;
}

.capitalize{
text-transform:capitalize;
}


/* 6️⃣ Text Shadow */

.shadow{
font-size:24px;
text-shadow:2px 2px 5px gray;
}